html {
  font-size: 62.5%;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

#copyright {
  color: #00cdac;
}

#copyright > a {
  color: #00cdac;
}

#copyright > a:hover {
  color: #333;
}